name: Build and Publish Docker Image

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build and publish Docker image
        env:
          ECR_REPO_URI: '196029031078.dkr.ecr.us-east-1.amazonaws.com/hyland-poc-ecr'
        run: |
          cd ./etl_scripts
          docker build -t etl_image .
          docker tag etl_image $ECR_REPO_URI:latest
          docker push $ECR_REPO_URI:latest
